@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* Tailwind v4 theme tokens */
@theme {
  /* colors */
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f;

  /* fonts */
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
}

/* (optional) use `.dark` class instead of system dark mode */
@custom-variant dark (&:where(.dark, .dark *));
